venv/
.env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

*.log
*.db
*.sqlite3
*.sqlite
.DS_Store
.idea/
.vscode/
*.egg-info/
.eggs/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

site-packages/
pip-wheel-metadata/

*.env
.env.*

tests/
